<section id="blog" class="section blog-section">
  <div class="container">
    <h2 class="section-title">Latest Writing</h2>
    <ul class="blog-list">
      {% for post in site.posts limit:3 %}
      <li class="blog-item">
        <span class="blog-date">{{ post.date | date: "%B %d, %Y" }}</span>
        <h3 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="blog-excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</p>
      </li>
      {% endfor %}
    </ul>
    <div style="text-align: center; margin-top: 64px;">
      <a href="{{ '/blog/' | relative_url }}" class="btn btn-secondary">View All Posts</a>
    </div>
  </div>
</section>