<header class="site-header">
  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}" class="nav-logo" style="font-weight: 700; font-size: 1.125rem;">Surjit Singh</a>
    <ul class="nav-list">
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/experience/' | relative_url }}">Experience</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>